
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  color: #4fa4d8;
}

/***************** typography start ****************/

h1,
.h1 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 32px;
  color: #1f3543;
}
h2,
.h2 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #1f3543;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 13px;
}
h6,
.h6 {
  font-size: 11px;
}

/***************** navbar start ****************/

.navbar {
  border-radius: 0;
  margin-bottom: 100px;
}

.navbar-inverse {
  background-color: #192228;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5ec3bc;
}

.dropdown-menu {
  font-size: 0.9em;
  background-color: #fafafa;
  border-radius: 0px;
}

.dropdown-menu li a {
  color: #1f3543 !important;
}

.navbar-collapse.collapse.in li a {
  color: #fff !important;
}

    /* Search icon by IcoMoon, made with http://icomoon.io/app/ */
    @font-face {
    	font-family: 'icomoon';
    	src:url('fonts/icomoon/icomoon.eot');
    	src:url('fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    		url('fonts/icomoon/icomoon.woff') format('woff'),
    		url('fonts/icomoon/icomoon.ttf') format('truetype'),
    		url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
    	font-weight: normal;
    	font-style: normal;
    }

    .sb-search {
    	position: relative;
    	margin-top: 4px;
    	width: 0%;
    	min-width: 42px;
    	height: 42px;
    	float: right;
    	overflow: hidden;
    	-webkit-transition: width 0.3s;
    	-moz-transition: width 0.3s;
    	transition: width 0.3s;
    	-webkit-backface-visibility: hidden;
    }

    .sb-search-input {
    	position: absolute;
    	top: 0;
    	right: 0;
    	border: none;
    	outline: none;
    	background: #fff;
    	width: 100%;
    	height: 48px;
    	margin: 0;
    	z-index: 10;
      padding: 4px 48px 6px 10px;
    	font-family: inherit;
    	font-size: 16px;
    	color: #2c3e50;
    }

    .sb-search-input::-webkit-input-placeholder {
    	color: #efb480;
    }

    .sb-search-input:-moz-placeholder {
    	color: #efb480;
    }

    .sb-search-input::-moz-placeholder {
    	color: #efb480;
    }

    .sb-search-input:-ms-input-placeholder {
    	color: #efb480;
    }

    .sb-icon-search,
    .sb-search-submit  {
    	width: 42px;
    	height: 42px;
    	display: block;
    	position: absolute;
    	right: 0;
    	top: 0;
    	padding: 0;
    	margin: 0;
    	line-height: 42px;
    	text-align: center;
    	cursor: pointer;
    }

    .sb-search-submit {
    	background: #fff; /* IE needs this */
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
        filter: alpha(opacity=0); /* IE 5-7 */
        opacity: 0;
    	color: transparent;
    	border: none;
    	outline: none;
    	z-index: -1;
    }

    .sb-icon-search {
    	color: #fff;
    	background: #e67e22;
    	z-index: 90;
    	font-size: 22px;
    	font-family: 'icomoon';
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	-webkit-font-smoothing: antialiased;
    }

    .sb-icon-search:before {
    	content: "\e000";
    }

    /* Open state */
    .sb-search.sb-search-open,
    .no-js .sb-search {
    	width: 30%;
    }

    .sb-search.sb-search-open .sb-icon-search,
    .no-js .sb-search .sb-icon-search {
    	background: #da6d0d;
    	color: #fff;
    	z-index: 11;
    }

    .sb-search.sb-search-open .sb-search-submit,
    .no-js .sb-search .sb-search-submit {
    	z-index: 90;
    }


.fa-search,
.navbar-inverse .navbar-nav li a {
  color: #5ec3bc;

  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}



/***************** home elements start ****************/

.last-posts {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.last-posts-title {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 0px;
}

.last-posts-th {
  margin-right: 10px;
  margin-bottom: 30px;
  padding-left: 0px;
}

.post-datetime {
  color: #666;
}

.video-slider {
  padding-top: 40px;
  padding-bottom: 20px;
}

.video-slider-title {
  padding-left: 15px;
}

.video-controls {
  margin-top: 20px;
}

.video-post {
  height: 200px;
  width: 29.333%;
  margin-top: 20px;
  display: block;
}

.video-post-th {
  display: block;
  margin-bottom: 10px;
}

/***************** page start ****************/

.page-title {

}

.page-excerpt {
  margin-top: 30px;
  margin-bottom: 40px;
}

/***************** general components ****************/

.live-ticker {
  background-color: #d40000;
  border-radius: 4px;
  color: #fff;
  padding: 3px 16px;
  font-size: 12px;
  margin-top: 12px;
  margin-right: 30px !important;
  font-weight: 600;
}

/*.live-ticker img {
  margin-top: 12px;
  margin-right: 30px !important;
}*/

.contact-form {
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  font-weight: 400;
}

.form-control {
  height: 31px;
  border-radius: 2px;
}

.btn-contact {
  border-radius: 0px;
  background-color: #192228;
  color: #fff;
  padding: 10px 50px;
}

.social-bar {
  background-color: #f9f9f9;
  border-left: 3px #5EC3BC solid;
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
}

.social-contacts {
  text-align: center;
}

.navbar-fixed-publ {
  top: 51px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1020;
}

.header-publ {
  margin-top: 120px;
}

.scrollspy-publ {
  position: relative;
  overflow-y: scroll;
  height: 640px;
}

.live-section,
.video-section {
  background-color: #192228;
  margin-top: 20px;
}

.live-label,
.video-label {
  color: #4fa4d8;
}

.live-title,
.video-title {
  margin-top: 28px;
  margin-left: 10px;
}

/***************** footer ****************/

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

/***************** responsive start ****************/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

}

@media (max-width: 768px) {

    /* Open state */
    .sb-search.sb-search-open,
    .no-js .sb-search {
      width: 100%;
    }

}
